* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.random, .card-block {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
}

.random {
  color: #252525;
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  padding: 18px 36px;
  transition: all 300ms;
}

.random:hover {
  background-color: rgba(222, 222, 222, 0.7);
}
.random:active {
  background-color: rgba(200, 200, 200, 0.7);
}

.random:focus {
  outline: none;
}

.card-block {
  height: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-block {
  width: 200px;
  height: 200px;
}

.pokemon-img {
  width: 100%;
  height: 100%;
}

.types {
  display: flex;
  gap: 36px;
}

.types > span {
  color: #f9f9f9;
  width: 100px;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
}

.info > p {
  text-align: center;
  font-size: 1.1rem;
}

.text {
  color: #252525;
  font-weight: 600;
}

.value {
  color: #404040;
}